In [1]:
import pandas as pd
import numpy as np

In [4]:

df_temp = pd.read_csv('/home/michael/git/master_thesis/data/reaction_times_subject_basis_df.tsv', sep='\t')

In [35]:
df_temp

,subj,amount,mean_rt,sem,answer,target,condition,fract_amount_trial_num,fract_amount_trial_num_per_block,order
0,2,23,0.2518257472826087,0.009355443597525935,correct,congruent,test,0.01842948717948718,0.4791666666666667,positive first
1,2,1,miss,miss,miss,congruent,test,miss,miss,positive first
2,2,14,0.3514927455357143,0.009709371961352886,correct,incongruent,test,0.011217948717948718,0.2916666666666667,positive first
3,2,10,0.22626953125,0.011888464717091755,incorrect,incongruent,test,0.008012820512820512,0.20833333333333334,positive first
4,2,198,0.27735854640151514,0.0036561060433898916,correct,congruent,baseline,0.15865384615384615,0.495,positive first
...,...,...,...,...,...,...,...,...,...,...
490,38,31,0.27249243951612906,0.005064553702655083,incorrect,incongruent,positive,0.024839743589743588,0.0775,positive first
491,38,172,0.3319858284883721,0.006280002793966351,correct,congruent,negative,0.13782051282051283,0.43,positive first
492,38,2,0.3583984375,0.0263671875,incorrect,congruent,negative,0.0016025641025641025,0.005,positive first
493,38,145,0.3866985452586207,0.00836262033887323,correct,incongruent,negative,0.11618589743589744,0.3625,positive first
494,38,33,0.2667791193181818,0.004324398645809372,incorrect,incongruent,negative,0.026442307692307692,0.0825,positive first

In [20]:
temp_df_incorrect_congruent = pd.DataFrame(columns=('amount','condition'))
temp_df_correct_congruent = pd.DataFrame(columns=('amount','condition'))

temp_df_correct_incongruent = pd.DataFrame(columns=('amount','condition'))
temp_df_incorrect_incongruent = pd.DataFrame(columns=('amount','condition'))

temp_df_miss_incongruent = pd.DataFrame(columns=('amount','condition'))
temp_df_miss_congruent = pd.DataFrame(columns=('amount','condition'))

Empty DataFrame
Columns: [amount, condition]
Index: []

In [27]:
list_subj = []
list_amount = []
list_mean_rt = []
list_sem = []

list_correct = []

list_congruent_incongruent = []
list_conditions = []
list_order = []

list_err_per_trials = []  # num_error/1248
list_err_per_trial_condition = []  # num_error/400
# group by incongruent or congruent target in flanker-task
temp_df_incorrect_congruent = pd.DataFrame(columns=('amount','condition'))
temp_df_correct_congruent = pd.DataFrame(columns=('amount','condition'))

temp_df_correct_incongruent = pd.DataFrame(columns=('amount','condition'))
temp_df_incorrect_incongruent = pd.DataFrame(columns=('amount','condition'))

temp_df_miss_incongruent = pd.DataFrame(columns=('amount','condition'))
temp_df_miss_congruent = pd.DataFrame(columns=('amount','condition'))


# group by incongruent or congruent target in flanker-task
congruent = df_temp.groupby('target')

# iterate over split dataframes
for name_congruent, group_congruent in congruent:
    print(name_congruent)
    #display(group_congruent)
    if name_congruent == 'congruent':
        incorrects = group_congruent.groupby('answer')
        for name_incorrect, group_incorrect in incorrects:
            #print(name_incorrect)
            #display(group_incorrect)
            if name_incorrect == 'correct':
                temp_df_correct_congruent = group_incorrect

                #print('correct congruent')

            # for incorrects
            elif name_incorrect == 'incorrect':
                temp_df_incorrect_congruent = group_incorrect              

                #print('incorrect congruent')
            elif name_incorrect == 'miss':
                temp_df_miss_congruent = group_incorrect                


    elif name_congruent == 'incongruent':

        incorrects = group_congruent.groupby('answer')

        # iterate over split dataframes
        for name_incorrect, group_incorrect in incorrects:

            if name_incorrect == 'correct':
                temp_df_correct_incongruent = group_incorrect

                #print('correct congruent')

            # for incorrects
            elif name_incorrect == 'incorrect':
                temp_df_incorrect_incongruent = group_incorrect             
                
                #print('incorrect congruent')
            elif name_incorrect == 'miss':
                temp_df_miss_incongruent = group_incorrect

congruent
incongruent

In [23]:
temp_df_correct_congruent

,subj,amount,mean_rt,sem,answer,target,condition,fract_amount_trial_num,fract_amount_trial_num_per_block,order
0,2,23,0.2518257472826087,0.009355443597525935,correct,congruent,test,0.01842948717948718,0.4791666666666667,positive first
4,2,198,0.27735854640151514,0.0036561060433898916,correct,congruent,baseline,0.15865384615384615,0.495,positive first
9,2,200,0.289248046875,0.004231009817489748,correct,congruent,positive,0.16025641025641027,0.5,positive first
12,2,195,0.2984725560897436,0.0039010098486092332,correct,congruent,negative,0.15625,0.4875,positive first
18,3,194,0.33135168331185566,0.005801300463976582,correct,congruent,baseline,0.15544871794871795,0.485,negative first
...,...,...,...,...,...,...,...,...,...,...
473,37,199,0.3362711997487437,0.0033485404105110203,correct,congruent,negative,0.1594551282051282,0.4975,positive first
478,38,23,0.34897248641304346,0.01696613836651409,correct,congruent,test,0.01842948717948718,0.4791666666666667,positive first
482,38,200,0.3471826171875,0.0060994322376263215,correct,congruent,baseline,0.16025641025641027,0.5,positive first
487,38,196,0.32406927614795916,0.005838931274569061,correct,congruent,positive,0.15705128205128205,0.49,positive first
491,38,172,0.3319858284883721,0.006280002793966351,correct,congruent,negative,0.13782051282051283,0.43,positive first

In [34]:
print('incorrect_congruent')
display(temp_df_incorrect_congruent['amount'].sum())
print('correct_congruent')
display(temp_df_correct_congruent['amount'].sum())
print('miss_congruent')
display(temp_df_miss_congruent['amount'].sum())


print('incorrect_incongruent')
display(temp_df_correct_incongruent['amount'].sum())
print('correct_incongruent')
display(temp_df_incorrect_incongruent['amount'].sum())
print('miss_incongruent')
display(temp_df_miss_incongruent['amount'].sum())

incorrect_congruent

215

correct_congruent

19341

miss_congruent

49

incorrect_incongruent

17101

correct_incongruent

2450

miss_incongruent

55